/Core/build/
/calculate_tiles/nbproject/private/
/calculate_tiles/build/
/Shopping/nbproject/private/
/Shopping/build/
/JavaApplication7/nbproject/private/
/New folder/Shopping/build/
/New folder/Shopping/nbproject/private/
/New folder/Bank/build/
/New folder/Bank/nbproject/private/
/New folder/Core/build/
/New folder/Core/nbproject/private/
/New folder/calculate_tiles/build/
/New folder/calculate_tiles/nbproject/private/
/Bank/nbproject/private/